* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  width: 90vw;
  height: 90vh;
  text-align: center;
  color: rgb(91, 113, 116);
}

.container {
  background-image: linear-gradient(
    -225deg,
    #66a4ad 0%,
    rgb(215, 218, 223) 48%,
    #c4e0e5 100%
  );
  border: 2px solid #66a4ad;
  width: 1106px;
  margin: 35px auto;
  height: 80vh;
  border-radius: 5px;
}

.search-bar {
  padding: 30px;
  margin: 0 auto 30px;
  height: 50px;
}
.search-bar input {
  width: 550px;
  height: 35px;
  border: none;
  font-size: 20px;
  border-radius: 10px;
}

.search-bar button {
  border-radius: 10px;
  padding: 0 15px;
  margin: 0;
  height: 35px;
  font-size: 17px;
  cursor: pointer;
  border: rgb(124, 132, 131);
}

.search-bar button:hover {
  background: #66a4ad;
  color: #fff;
  border: none;
}

.form-switch,
.form-check {
  width: 15px;
  height: 15px;
  font-size: 14px;
  color: #66a4ad;
  position: absolute;
}

.form-check-input {
  border: 1px solid #66a4ad;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.todays-weather {
  width: 550px;
  height: 450px;
  margin: 0px;
  display: block;
  border-right: 2px solid rgba(116, 101, 101, 0.641);
  grid-column-end: 2;
  padding: 30px;
}

.circle {
  height: 150px;
  border-radius: 50%;
  background: rgb(210, 214, 214);
  border: 5px solid #66a4ad;
  width: 150px;
  padding: 20px;
  margin: 20px auto 30px;
}

.circle i {
  font-size: 130px;
  position: relative;
  bottom: 40px;
  right: 31px;
}

.temp {
  font-size: 26px;
  letter-spacing: 1.2px;
  text-align: center;
}

.info {
  font-size: 20px;
  text-align: center;
  line-height: 25px;
}

.future-weather {
  display: block;
  height: 450px;
  border-left: 2px solid rgba(116, 101, 101, 0.641);
  padding: 30px;
  grid-column-start: 2;
}

.future-weather h2 {
  text-align: center;
  letter-spacing: 1.2px;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 35px;
}

.row1 {
  display: flex;
  justify-content: space-around;
  padding-bottom: 40px;
}

.row2 {
  display: flex;
  justify-content: space-around;
}

.box {
  height: 120px;
  width: 120px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
}

.box i {
  font-size: 55px;
  position: relative;
  right: 7px;
}

i {
  color: rgb(65, 63, 63);
}

p a {
  bottom: 700px;
}

.crnt-date {
  color: #66a4ad;
  font-size: 15px;
}
